In [51]:
import pandas as pd
matching_df = pd.read_csv('Mission_Candidate_matching_together.csv')  

# to datetime
matching_df['availableFrom'] = pd.to_datetime(matching_df['availableFrom'], format='%Y-%m-%d')
matching_df['jobStart'] = pd.to_datetime(matching_df['jobStart'], format='%Y-%m-%d')

# Time_matching_score

In [52]:
# build a function for Time_matching_score
def Time_matching_score(matching_df):
    # calculate the timeDelta
    timeDelta = (matching_df['jobStart'] - matching_df['availableFrom'])
    # then change the timeDelta to float64 values in days
    timeDelta = pd.to_timedelta([timeDelta]).astype('timedelta64[D]')[0]

    # apply our equation: -|timeDelta|/100
    Time_matching_score = -abs(timeDelta)/100
    return Time_matching_score

In [53]:
matching_df['Time_matching_score'] = matching_df.apply(Time_matching_score, axis=1)
matching_df.head(5)

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,...,MissionCandidateHardSkills,missionCandidate.1,MissionCandidateLocations,mission,MissionLocations,missionCandidate.2,MissionCandidateLanguages,mission.1,MissionLanguages,Time_matching_score
0,rec7MvbTywFTvWryg,NaT,NaN,45000.0,60000.0,<p>**Technology used by the company is Ruby **...,full-stack-developer,NaN,NaN,NaN,...,"javascript,ruby-on-rails",rec0ijxnKLBBDIYQ7,europe/france,rec7MvbTywFTvWryg,europe/france/paris,rec0ijxnKLBBDIYQ7,en,rec7MvbTywFTvWryg,fr,NaN
1,recUwquxTAuaSpYwc,NaT,NaN,60000.0,70000.0,<p>The ideal candidate should have resources i...,business-development,NaN,NaN,6.0,...,"healthcare,ivd",rec0int3CbDJkliSl,europe/france,recUwquxTAuaSpYwc,europe/france,rec0int3CbDJkliSl,"en,fr,zh",recUwquxTAuaSpYwc,"en,fr,zh",NaN
2,rec6N2U5wJf7t3ySH,2023-04-03,NaN,40000.0,70000.0,<p>-Previous experience in <strong>a start-up ...,cto,NaN,NaN,1.0,...,"cloud-applications,hardware,software",rec0j4E310FlCL6zl,worldwide,rec6N2U5wJf7t3ySH,europe/spain,rec0j4E310FlCL6zl,"en,es,fr",rec6N2U5wJf7t3ySH,"es,fr",-0.01
3,rec5Vy4oVduUs4WKq,NaT,NaN,24000.0,24000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,...,"business-management,digital-marketing,electron...",NaN,NaN,rec5Vy4oVduUs4WKq,europe/hungary/budapest,rec0jTM9sbzgKMpqP,"en,hu",rec5Vy4oVduUs4WKq,"en,hu",NaN
4,recETHEgTGsGxaBPv,2023-04-03,NaN,40000.0,60000.0,"<ul class=""liste"">\n<li>Relevant education at ...",technical-advisor,NaN,NaN,5.0,...,"microsoft-office,vector",rec0pko6Vul5U0H61,europe/france,recETHEgTGsGxaBPv,europe/france,rec0pko6Vul5U0H61,"en,fr",recETHEgTGsGxaBPv,"en,fr",-1.54

In [54]:
df = matching_df[['jobStart','availableFrom','Time_matching_score']]

In [55]:
import os  
os.makedirs('folder', exist_ok=True)  
df.to_csv('folder/out.csv')

In [56]:
# the problem about Time_matching_score is that job start rarely exists

# Salary_matching_score

In [57]:
# build a function for Salary_matching_score
def Salary_matching_score(matching_df):
    # calculate the SalaryDelta
    SalaryDelta = (matching_df['salaryMin'] - matching_df['minSalaryExpect'])

    # apply our equation: -|SalaryDelta|/100
    Salary_matching_score = -abs(SalaryDelta)/10000
    return Salary_matching_score

In [58]:
matching_df['Salary_matching_score'] = matching_df.apply(Salary_matching_score, axis=1)
matching_df.head(5)

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,...,missionCandidate.1,MissionCandidateLocations,mission,MissionLocations,missionCandidate.2,MissionCandidateLanguages,mission.1,MissionLanguages,Time_matching_score,Salary_matching_score
0,rec7MvbTywFTvWryg,NaT,NaN,45000.0,60000.0,<p>**Technology used by the company is Ruby **...,full-stack-developer,NaN,NaN,NaN,...,rec0ijxnKLBBDIYQ7,europe/france,rec7MvbTywFTvWryg,europe/france/paris,rec0ijxnKLBBDIYQ7,en,rec7MvbTywFTvWryg,fr,NaN,-0.20
1,recUwquxTAuaSpYwc,NaT,NaN,60000.0,70000.0,<p>The ideal candidate should have resources i...,business-development,NaN,NaN,6.0,...,rec0int3CbDJkliSl,europe/france,recUwquxTAuaSpYwc,europe/france,rec0int3CbDJkliSl,"en,fr,zh",recUwquxTAuaSpYwc,"en,fr,zh",NaN,-6.00
2,rec6N2U5wJf7t3ySH,2023-04-03,NaN,40000.0,70000.0,<p>-Previous experience in <strong>a start-up ...,cto,NaN,NaN,1.0,...,rec0j4E310FlCL6zl,worldwide,rec6N2U5wJf7t3ySH,europe/spain,rec0j4E310FlCL6zl,"en,es,fr",rec6N2U5wJf7t3ySH,"es,fr",-0.01,-2.50
3,rec5Vy4oVduUs4WKq,NaT,NaN,24000.0,24000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,...,NaN,NaN,rec5Vy4oVduUs4WKq,europe/hungary/budapest,rec0jTM9sbzgKMpqP,"en,hu",rec5Vy4oVduUs4WKq,"en,hu",NaN,-2.15
4,recETHEgTGsGxaBPv,2023-04-03,NaN,40000.0,60000.0,"<ul class=""liste"">\n<li>Relevant education at ...",technical-advisor,NaN,NaN,5.0,...,rec0pko6Vul5U0H61,europe/france,recETHEgTGsGxaBPv,europe/france,rec0pko6Vul5U0H61,"en,fr",recETHEgTGsGxaBPv,"en,fr",-1.54,-2.00

In [59]:
df = matching_df[['salaryMin','minSalaryExpect','Salary_matching_score']]

In [60]:
import os  
os.makedirs('folder', exist_ok=True)  
df.to_csv('folder/out.csv')

In [61]:
# the Salary_matching_score has much more data than the time_scores

# General_matching_score & OpenAI_score_reason

In [62]:
# ! pip install openai

import os
import openai
import pandas as pd
import numpy as np
import json

In [63]:
# openai.api_key = os.getenv("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")
openai.api_key = "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"
COMPLETIONS_MODEL = "text-davinci-003"


def request_completion(prompt):
    
    completion_response =   openai.Completion.create(
                            prompt=prompt,
                            temperature=0,
                            max_tokens=1000,
                            top_p=1,
                            frequency_penalty=0,
                            presence_penalty=0,
                            model=COMPLETIONS_MODEL
                            )
        
    return completion_response

In [64]:
# build a function for General_matching_score
def General_matching_score(matching_df):

    # extract the info input into prompt
    job_requirements = matching_df['requirementsDescription']
    job_position = matching_df['position']
    job_locations = matching_df['MissionLocations']
    job_languages = matching_df['MissionLanguages']
    candidate_hardskills = matching_df['MissionCandidateHardSkills']
    degree_subjects = matching_df['degreeSubject']
    candidate_locations = matching_df['MissionCandidateLocations']
    candidate_languages = matching_df['MissionCandidateLanguages']
    
    # prompting
    hardskills_matching_prompt = f'''
    You are a headhunter. You have information about a job description from a client company.
    You also have candidate information.
    You want to evaluate the if the job description matched with the candidate information.

    The job description includes the following data: 
    those information describe a job which the candidate wants to get in.

    The job requirements text is delimited by triple backticks as follows: 
    ```{job_requirements}```. 
    Please be careful, the above requirementsDescription is the requirement of the job. 
    This job_requirements is NOT the experience of the candidate.
    Do not mix this job_requirements with what candidate has experienced.
    Do not mix this job_requirements with what candidate can do.


    The job position is delimited by triple backticks as follows: 
    ```{job_position}```. 
    Please note, job_position is NOT the candidate's past job position.

    The job position is delimited by triple backticks as follows: 
    ```{job_locations}```.
    Please note, job_locations is the location of job, NOT the location of candidate

    The job position is delimited by triple backticks as follows: 
    ```{job_languages}```. It is in 2-digit language codes. 
    Please note, this is considered as required language of the job, NOT the ability of the candidate.



    The candidate information includes the following data:

    The hardskills a candidate has is listed in a list delimited by triple backticks as follows: 
    ```{candidate_hardskills}```. 
    If the candidate hardskills is related to the skills required in requirementsDescription or position,
    then score increased. The more related they are, the higher the score.

    The degree subjects a candidate has is listed in a list delimited by triple backticks as follows: 
    ```{degree_subjects}```. This degree_subjects is important.
    If the skills of job requirement or position are usually covered in this degree subject, 
    then scores increased.

    The locations a candidate can go is listed in a list delimited by triple backticks as follows: 
    ```{candidate_locations}```. The locations are countries or cities.

    The languages a candidate can speak is listed in a list delimited by triple backticks as follows: 
    ```{candidate_languages}```. It is in 2-digit language codes. 
    Be careful, this candidate can only speak the language in this list, not others.
    

    You should consider all the features below:
    requirementsDescription, job position, job locations, job languages,
    candidate_hardskills, degree_subjects, candidate_locations, candidate_languages

    and give the output.


    The output result should have the following parts: 

    1. a hardskill matching Score,
    is a float value ranges from 0 to 1, 
    where 0 means the candidate's hard skill not matched with the job at all, 
    while 1 means they are totally matched.

    2. a degree subjects matching Score,
    is a float value ranges from 0 to 1, 
    where 0 means the candidate's degree subjects not matched with the job at all, 
    while 1 means the candidate's degree subjects cover all the job requirement.
    
    3. a position matching Score,
    only considering the candidate_hardskills and degree_subjects,
    how do you think this candidate is capable of the job_position?
    give your evaluation in a float value between 0 and 1.


    4. a location matching Score,
    is 0 if the candidate's location not matched with the job at all, 
    is 1 if candidate_locations contains the job_locations
    If requirementsDescription says work remotely, then location score also is 1.

    5. a language matching Score, only two possible values: 0 or 1.
    it is 0 if the candidate_languages not matched with the job_languages at all.
    it is 1 if candidate_languages contains all the job_languages.

    
    6. the summary of your reason giving each score

    output the result in a JSON format with the following keys:
    Hardskill_Matching_Score, Degree_Subjects_Matching_Score, Position_Matching_Score,
    Location_Matching_Score, Language_Matching_Score, , Reason


    '''

    # Use our completion function to return a prediction
    completion_response = request_completion(hardskills_matching_prompt)

    return completion_response['choices'][0]['text']

    # where 0 means the candidate's hardskills and degree subject not matched with the job position at all, 
    # while 1 means the candidate's hardskills and degree subject can cover all the position needs.

In [65]:
# then we choose the first 5 rows of matching_df as an example

matching_df = matching_df.head(5)
matching_df

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,...,missionCandidate.1,MissionCandidateLocations,mission,MissionLocations,missionCandidate.2,MissionCandidateLanguages,mission.1,MissionLanguages,Time_matching_score,Salary_matching_score
0,rec7MvbTywFTvWryg,NaT,NaN,45000.0,60000.0,<p>**Technology used by the company is Ruby **...,full-stack-developer,NaN,NaN,NaN,...,rec0ijxnKLBBDIYQ7,europe/france,rec7MvbTywFTvWryg,europe/france/paris,rec0ijxnKLBBDIYQ7,en,rec7MvbTywFTvWryg,fr,NaN,-0.20
1,recUwquxTAuaSpYwc,NaT,NaN,60000.0,70000.0,<p>The ideal candidate should have resources i...,business-development,NaN,NaN,6.0,...,rec0int3CbDJkliSl,europe/france,recUwquxTAuaSpYwc,europe/france,rec0int3CbDJkliSl,"en,fr,zh",recUwquxTAuaSpYwc,"en,fr,zh",NaN,-6.00
2,rec6N2U5wJf7t3ySH,2023-04-03,NaN,40000.0,70000.0,<p>-Previous experience in <strong>a start-up ...,cto,NaN,NaN,1.0,...,rec0j4E310FlCL6zl,worldwide,rec6N2U5wJf7t3ySH,europe/spain,rec0j4E310FlCL6zl,"en,es,fr",rec6N2U5wJf7t3ySH,"es,fr",-0.01,-2.50
3,rec5Vy4oVduUs4WKq,NaT,NaN,24000.0,24000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,...,NaN,NaN,rec5Vy4oVduUs4WKq,europe/hungary/budapest,rec0jTM9sbzgKMpqP,"en,hu",rec5Vy4oVduUs4WKq,"en,hu",NaN,-2.15
4,recETHEgTGsGxaBPv,2023-04-03,NaN,40000.0,60000.0,"<ul class=""liste"">\n<li>Relevant education at ...",technical-advisor,NaN,NaN,5.0,...,rec0pko6Vul5U0H61,europe/france,recETHEgTGsGxaBPv,europe/france,rec0pko6Vul5U0H61,"en,fr",recETHEgTGsGxaBPv,"en,fr",-1.54,-2.00

In [66]:
matching_df['General_matching_score'] = matching_df.apply(General_matching_score, axis=1)
matching_df

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,...,MissionCandidateLocations,mission,MissionLocations,missionCandidate.2,MissionCandidateLanguages,mission.1,MissionLanguages,Time_matching_score,Salary_matching_score,General_matching_score
0,rec7MvbTywFTvWryg,NaT,NaN,45000.0,60000.0,<p>**Technology used by the company is Ruby **...,full-stack-developer,NaN,NaN,NaN,...,europe/france,rec7MvbTywFTvWryg,europe/france/paris,rec0ijxnKLBBDIYQ7,en,rec7MvbTywFTvWryg,fr,NaN,-0.20,"\n {\n ""Hardskill_Matching_Score"": 0..."
1,recUwquxTAuaSpYwc,NaT,NaN,60000.0,70000.0,<p>The ideal candidate should have resources i...,business-development,NaN,NaN,6.0,...,europe/france,recUwquxTAuaSpYwc,europe/france,rec0int3CbDJkliSl,"en,fr,zh",recUwquxTAuaSpYwc,"en,fr,zh",NaN,-6.00,"\n Example output:\n {\n ""Hardski..."
2,rec6N2U5wJf7t3ySH,2023-04-03,NaN,40000.0,70000.0,<p>-Previous experience in <strong>a start-up ...,cto,NaN,NaN,1.0,...,worldwide,rec6N2U5wJf7t3ySH,europe/spain,rec0j4E310FlCL6zl,"en,es,fr",rec6N2U5wJf7t3ySH,"es,fr",-0.01,-2.50,"\n {\n ""Hardskill_Matching_Score"": 0..."
3,rec5Vy4oVduUs4WKq,NaT,NaN,24000.0,24000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,...,NaN,rec5Vy4oVduUs4WKq,europe/hungary/budapest,rec0jTM9sbzgKMpqP,"en,hu",rec5Vy4oVduUs4WKq,"en,hu",NaN,-2.15,"\n {\n ""Hardskill_Matching_Score"": 0..."
4,recETHEgTGsGxaBPv,2023-04-03,NaN,40000.0,60000.0,"<ul class=""liste"">\n<li>Relevant education at ...",technical-advisor,NaN,NaN,5.0,...,europe/france,recETHEgTGsGxaBPv,europe/france,rec0pko6Vul5U0H61,"en,fr",recETHEgTGsGxaBPv,"en,fr",-1.54,-2.00,"\n {\n ""Hardskill_Matching_Score"": 0..."

In [67]:
import os  
os.makedirs('folder', exist_ok=True)  
matching_df.to_csv('folder/out.csv')